/*--------------------------------------------------
    ## All responsive style
---------------------------------------------------*/
@media all and (min-width: 2300px) {
	.upcoming-featured-area,
	.home-2 .featured-area,
	.screenshot-slider,
	.home-4 .featured-area {
		max-width: 1920px;
		margin: auto;
	}
	.home-2 .bg-image {
	    background-size: 100% 65% !important;
	}
	.home-2 .bg-image-2 {
	    background-size: 100% 60% !important;
	}
	.home-2 .bg-image-3 {
		background-size: 100% !important;
	}
	.home-3 .banner-area.style-3 {
	    background-size: 123% 146%!important;
	}
}
@media all and (min-width: 1600px) {
	.container {
	    max-width: 1175px;
	}
	.pricing-area {
		background-size: 100% 100%;
		background-position: top;
	}
	.bg-image {
	    background-size: 100% 59% !important;
	}	
	.bg-image-2 {
	    background-repeat: no-repeat !important;
	    background-position: 0px 550px !important;
	    background-size: 100% !important;
	}
	.bg-image-3 {
	    background-repeat: no-repeat !important;
	    background-position: top center !important;
	    background-size: 100% 100% !important;
	}
	.banner-area.style-3 {
		background-position: 47px -270px !important;
	    background-size: 123% 149%!important;
	    padding: 188px 0 175px;
	}
	.banner-area.style-3 .banner-inner {
	    margin-left: 3rem!important;
	    margin-right: 0px; 
	}
	.banner-area-3 {
	    background-position: bottom center !important;
	    padding: 210px 0 239px;
	    background-size: 100% 100% !important;
	}
	.banner-area-4 {
		padding: 342px 0 328px;
		background-repeat: no-repeat !important;
		background-size: 113% 100% !important;
		background-position: center !important;
	}
	.subscribe-area.shape-1:before {
		height: 450px;
    	width: 450px;
    	left: -11%;
	}
	.screenshot-area {
	    background-position: right top;
	    background-size: 100% 100%;
	}
	.single-intro-wrap-2 {
	    padding: 50px 25px 35px;
	}
	.banner-area-3 .banner-inner {
		padding-right: 254px;
	}
	.featured-area.pd-top-150 {
	    padding-top: 120px;
	}
	.screenshot-slider:after {
	    height: 96.4%;
	    width: 364px;
	    left: 48%;
	}
	.screenshot-slider .screenshot-thumb img {
	    width: auto;
	    height: auto;
	    margin: 0;
	}
	.network-area .section-title {
		padding-right: 220px;
	}
	.subscribe-area {
		padding-left: 240px;
	}
}
@media (max-width: 1440px) {
	h4 {
	    font-size: 22px;
	}
	.banner-area {
	    background-position: -68px -212px !important;
	    background-size: 135% !important;
	    padding: 108px 0 109px;
	}
	.featured-area .pe-5,
	.upcoming-featured-area .me-5,
	.upcoming-featured-area .ps-5 {
		padding: 0 !important;
		margin: 0 !important;
	}
	.screenshot-area {
		background-size: 105%;
	}
	.banner-area-2 .thumb img {
	    right: -50px;
	}
	.bg-image-2 {
	    background-size: 156% 55% !important;
	}
	.d-1400-none {
		display: none;
	}
	.screenshot-slider:after {
	    width: 253px;
	    margin-left: -154px;
	}
}
@media (max-width: 1400px) {
	.screenshot-slider:after {
	    width: 251px;
	    margin-left: -151px;
	}
	.mt-ng-105 {
	    margin-top: -138px;
	} 
	.banner-area.style-3 .banner-inner {
	    margin-left: -120px !important;
	    margin-right: 0;
	}
	.banner-area.style-3 {
	    background-position: -32px -249px !important;
	}
}
@media all and (max-width: 1199px) {
	.navbar-area .nav-container .navbar-collapse .navbar-nav li a {
		font-size: 16px;
	}
	.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
		margin-top: 0px;
	}
	.breadcrumb-area .page-title,
	.banner-inner h1 {
		font-size: 38px;
	}
	.banner-inner p {
	    margin-bottom: 40px;
	}
	.banner-area {
	    background-position: -62px -165px !important;
	    background-size: 145% !important;
	    padding: 108px 0 59px;
	}
	.single-intro-wrap {
		padding: 30px 0 32px;
	}
	.single-fact-inner h2 {
	    font-size: 40px;
	}
	.single-featured-wrap {
	    margin-bottom: 18px;
	}
	.featured-area {
		text-align: center;
	}
	.featured-area .row {
		justify-content: center;
	}
	.featured-area .section-title {
		margin-top: 30px;
	}
	.screenshot-area {
	    background-size: 125%;
	    padding-bottom: 209px;
	}
	.screenshot-slider .screenshot-thumb img {
	     width: auto; 
	     height: auto; 
	}
	.screenshot-slider:after {
	    width: 183px;
	    margin-left: -110px;
	    height: 90%;
	}
	.screenshot-slider {
		margin-top: 20px;
	}
	.mt-ng-105 {
	    margin-top: -100px;
	}
	.pricing-area {
		background-size: 140% 100%;
	}
	.section-title .title {
	    font-size: 30px;
	}
	.pd-bottom-143 {
	    padding-bottom: 103px;
	}
	.pd-top-140 {
	    padding-top: 100px;
	}
	.pd-top-110 {
	    padding-top: 70px;
	}
	.pd-bottom-110 {
	    padding-bottom: 70px;
	}
	.pl-faq-accordion .accordion-item .accordion-header .accordion-button {
	    font-size: 16px;
	}
	.pd-bottom-150 {
	    padding-bottom: 110px;
	}
	.pd-bottom-120 {
	    padding-bottom: 90px;
	}
	.pd-top-100 {
	    padding-top: 70px;
	}
	.pd-top-120 {
	    padding-top: 90px;
	}
	.pd-bottom-140 {
	    padding-bottom: 110px;
	}
	.pd-top-150 {
	    padding-top: 120px;
	}
	.btn {
		font-size: 16px;
	    height: 50px;
	    line-height: 50px;
	    padding: 0 24px;
	}
	.widget-footer-social ul li {
		padding: 0 5px;
	}
	.banner-area-2 .thumb img {
	    right: -25px;
	}
	.bg-image {
	    background-size: 131% !important;
	}
	.single-intro-wrap-2 h4 {
		font-size: 17px;
	}
	.banner-area-3 {
	    background-size: 143% 103% !important;
	    padding: 200px 0 100px;
	}
	.pd-top-135 {
	    padding-top: 105px;
	}
	.pd-bottom-100 {
	    padding-bottom: 70px;
	}
	.section-title p {
	    font-size: 16px;
	}
	.discount-slider .slick-dots {
		bottom: 30px;
	}
	.banner-area.style-3 {
	    padding: 200px 0 100px;
		background-position: -38px -143px !important;
	}
	.banner-area.style-3 .banner-inner {
	    margin-left: 35px !important;
	}
	.banner-area.style-3 .banner-inner .btn {
	    margin-right: 14px;
	}
	.breadcrumb-area {
	    padding: 209px 0 130px;
	}
	.single-blog-post .title {
		font-size: 28px;
	}
	.banner-area-2 .banner-inner {
	    padding: 80px 0 0;
	}
	.display-lg-block {
	    display: block;
	}
	.bg-image-2 {
	    background-size: 160% 58% !important;
	    background-position: 0px 470px !important;
	}
	.bg-image-3 {
	    background-position: -198px top !important;
	    background-size: 126% 91% !important;
	}
	.discount-wrap {
		padding: 50px;
	}
	.discount-wrap .left-side:after {
	    right: -5px;
	}
	.banner-area-4 {
	    padding: 250px 0 200px;
	}
}
@media all and (max-width: 991px) {
	.banner-area {
		text-align: center;
		padding: 155px 0 80px;
		background: transparent !important;
	}
	.banner-inner h1
	.navbar-area {
		background: rgba(240, 245, 251, 0.9);
	}
	.navbar-area.navbar-area-fixed .responsive-mobile-menu,
	.responsive-mobile-menu {
		top: 21px;
	}
	.navbar-area .nav-container .navbar-collapse {
	    margin-top: 12px; 
	}
	.navbar-area .nav-container .navbar-collapse .navbar-nav {
		background: #fff;
		margin-top: 3px;
		padding: 0 30px;
	}
	.navbar-area.style-2 .nav-container .navbar-collapse.sopen .navbar-nav li.menu-item-has-children:after,
	.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after {
		background: var(--main-color);
	}
	.navbar-area.style-2 .nav-container .navbar-collapse.sopen .navbar-nav li.menu-item-has-children:before,
	.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
	    right: 3px !important;
	    background: var(--main-color);
	}
	.navbar-area.style-2 .nav-container .navbar-collapse.sopen .navbar-nav li a,
	.navbar-area .nav-container .navbar-collapse .navbar-nav li a {
		color: var(--main-color);
	}
	.featured-area .section-title {
	    margin-top: 0px;
	}
	.single-fact-inner {
		margin-bottom: 30px;
	}
	.fact-inner {
		padding: 55px 0 25px;
	}
	.screenshot-area {
		padding-bottom: 89px;
	}
	.screenshot-slider:after {
	    width: 230px;
	    margin-left: -130px;
	    height: 92.2%;
	}
	.mt-ng-105 {
	    margin-top: -0px;
	}
	.pricing-area {
		padding-top: 0;
		background: transparent ;
	}
	.network-area {
		padding-top: 0;
	}
	.footer-area {
	    background-size: 110% 100% !important;
	    background-position: center !important;
	}
	.widget-footer-link ul li {
		padding: 0 25px;
	}
	.footer-area {
	    padding: 150px 0 0;
	}
	.contact-touch {
		margin-bottom: 50px;
	}
	.subscribe-area.shape-1:before {
	    top: 5%;
	    left: -30%;
	}
	.discount-wrap {
	    padding: 70px 30px 50px;
	}
	.discount-wrap .right-side span {
	    font-size: 14px;
	}
	.discount-slider .slick-dots {
	    bottom: 25px;
	}
	.network-area .thumb {
		margin-bottom: 40px;
	}
	.navbar-area.style-2 {
	    background: #CA80C2
	}
	.navbar-area.style-2 .toggle-btn .icon-left:before,
	.navbar-area.style-2 .toggle-btn .icon-left:after,
	.navbar-area.style-2 .toggle-btn .icon-right:before,
	.navbar-area.style-2 .toggle-btn .icon-right:after,
	.navbar-area.style-2 .toggle-btn .icon-left,
	.navbar-area.style-2 .toggle-btn .icon-right {
	    background-color: #fff;
	}
	.bg-image {
	    background-size: 118% 66% !important;
	}
	.banner-area.style-3,
	.banner-area-3 {
	    text-align: center;
	    padding: 155px 0 0px;
	}

	.banner-area-3 .container-fluid h1 {
		color: #1F2873;
	}
	.banner-area-4 {
	    background: transparent !important;
	    text-align: center;
	    padding: 200px 0 0;
	}
	.bg-image-3,
	.bg-image-2 {
	    background: transparent !important;
	}
	.navbar-area.style-4 {
	    background: #fff;
	}
	.display-sm-block {
		display: block;
	}
	.banner-area-2 .banner-inner {
	    padding: 80px 0 0;
	}
	.banner-area-4 .banner-inner.style-white p, 
	.section-title.style-white p {
		color: var(--paragraph-color);
	}
	.bg-image-2 .upcoming-featured-area {
		padding-bottom: 0;
	}
	.banner-area-4 .banner-inner.style-white h1,
	.section-title.style-white .title {
		color: var(--heading-color);
	}
	.bg-image-3 .product-area {
		padding-top: 0;
	}
	.banner-area.style-3 {
	    padding-bottom: 50px;
	}
	.banner-area.style-3 .banner-inner {
		margin-left: 0 !important;
	}
	.navbar-area.style-4 .nav-container {
		padding: 18px 30px;
	}
	.intro-area.mbx-bottom-155 {
		margin-bottom: 0;
	}
	.screenshot-area.style-4 {
		padding-top: 100px;
		margin-top: 90px;
	}
	.banner-area-4 .row {
		justify-content: center;
	}
	.breadcrumb-area .page-list li {
	    font-size: 14px;
	}
}

@media all and (max-width: 767px) {
	.banner-inner h1 {
	    font-size: 35px;
	}
	.section-title .title {
		font-size: 36px;
	}
	.fact-count-area {
	    margin-bottom: 100px;
	}
	.fact-inner {
		clip-path: inherit;
	}
	.screenshot-area {
	    padding-top: 100px;
	}
	.pl-list-inner {
		text-align: left;
	}
	.widget-footer-link ul li {
	    padding: 0 14px;
	}
	.breadcrumb-area {
	    margin-bottom: 100px;
	}
	.single-blog-post h2,
	.breadcrumb-area .page-title {
		font-size: 36px;
	}
	.discount-wrap .left-side:after {
		display: none;
	}
	.discount-wrap {
	    text-align: center;
	}
	.discount-slider img {
	    margin: 0 auto;
	}
	.download-app {
		display: block !important;
	}
	.discount-slider .slick-dots {
	    left: 44%;
	    bottom: -50px;
	}
	.discount-wrap .left-side {
		margin-bottom: 30px;
	}
	.bg-image {
		background: transparent !important; 
	}
	.banner-area-2 .banner-inner h6,
	.bg-image .banner-inner.style-white h1 {
		color: var(--heading-color);
	}
	.bg-image .banner-inner.style-white p {
		color: var(--paragraph-color);
	}
	.banner-area-2 {
	    padding: 131px 0 50px;
	}
	.pl-faq-accordion .accordion-item .accordion-header .accordion-button:after,
	.pl-faq-accordion .accordion-item .accordion-header .accordion-button:before {
		height: 3px;
	}
	.banner-area-4 {
	    padding: 150px 0 0;
	}
}
@media all and (max-width: 600px) {
	.screenshot-slider:after {
	    width: 162px;
	    margin-left: -92px;
	    height: 88.2%;
	    top: -15px;
	}
}
@media all and (max-width: 575px) {
	body {
		font-size: 15px;
	}
	.section-title p {
	    font-size: 15px;
	}
	.navbar-area.navbar-area-fixed .responsive-mobile-menu, .responsive-mobile-menu {
	    right: 6px;
    	top: 7px;
	}
	.navbar-area.style-4 .nav-container {
	    padding: 12px 30px;
	}
	.navbar-area .nav-container {
	    height: auto;
	}
	.section-title .title {
	    font-size: 28px;
	}
	.single-blog-post {
	    padding: 28px 30px 32px 30px;
	}
	.single-blog-post .blockquote {
	    padding: 27px 26px 20px;
	}
	.blog-share {
	    margin: 54px 0;
	}
	.blog-share .share {
		float: none;
		margin-top: 20px;
	}
	.blog-comment .media {
	    display: inline-block;
	}
	.blog-comment .media .media-body {
		margin: 20px 0 0 0;
	}
	.single-blog-post .blockquote p {
		margin-top: 0;
	}
	.blog-comment .media.nesting {
	    margin-left: 40px;
	}
	.blog-comment-form {
	    margin-top: 35px;
	}
	.single-price .pricing-list {
	    margin: 30px 10px 40px 10px;
	}
	.discount-slider .slick-dots {
	    left: 40%;
	}
	.screenshot-slider .screenshot-thumb img {
	    height: 480px;
	}
	.screenshot-slider:after {
	    width: 253px;
	    margin-left: -135px;
	    height: 92.2%;
	}
	.footer-area {
	    background-size: 156% 100% !important;
	}
	.testimonial-slider {
		overflow: hidden;
	}
	.banner-area.style-3 {
	    padding: 150px 0 30px;
	}
	.breadcrumb-area {
	    padding: 155px 0 90px;
	}
	.single-featured-wrap {
	    margin-bottom: 24px;
	}
	.single-price .pricing-list:after {
		display: none;
	}
	.single-price .pricing-list {
	    margin: 30px 10px 26px 10px;
	    border-radius: 8px;
	}
	.single-fact-inner h4 {
		font-size: 18px;
	}
	.banner-inner .btn {
	    margin-right: 10px;
	    margin-bottom: 10px;
	}
	.navbar-area .nav-container .navbar-collapse .navbar-nav li a {
	    font-size: 13px;
	}
	.single-subscribe-wrap .btn,
	.btn {
	    font-size: 14px;
	}
	.banner-area-2 .banner-inner {
	    padding: 30px 0 0;
	}
}
@media all and (max-width: 375px) {	
	.banner-inner h1 {
	    font-size: 36px;
	}
	.section-title-2 .title {
		font-size: 28px;
	}
	.single-blog-post h2 {
	    font-size: 26px;
	}
	.contact-map iframe {
	    height: 300px;
	}
	.screenshot-area {
	    background-size: 100% 65%;
	}
	.pl-list-inner li i {
	    margin-top: 6px;
	}
	.single-subscribe-wrap {
		background: transparent;
	}
	.single-subscribe-wrap .btn {
		position: inherit;
		width: 100%;
	}
	.discount-wrap .left-side h2 {
	    font-size: 32px;
	}
	.discount-slider .slick-dots {
	    left: 39%;
	}
	.banner-inner .btn {
		margin-right: 0 !important;
		margin-bottom: 10px !important;
	}
	.banner-inner .btn.active {
		margin-top: 15px !important;
	}
	.single-subscribe-wrap .btn {
		right: 0;
		margin-top: 7px;
	}
	.single-blog-post .title {
	    font-size: 20px;
	}
	.single-blog-post {
	    padding: 22px 30px 25px 30px;
	}
}
@media all and (max-width: 360px) {
	.banner-inner .btn img {
	    width: 129px;
	}
	.discount-wrap .left-side h2 {
	    font-size: 26px;
	}
	.discount-slider .slick-dots {
	    left: 37%;
	}
	.screenshot-slider:after {
	    margin-left: -133px;
	}
	.banner-inner h1 {
	    font-size: 30px;
	}
	.section-title .title {
	    font-size: 28px;
	}
	h4 {
	    font-size: 20px;
	}
	.single-blog-post .blog-meta span {
	    font-size: 12px;
	}
}
@media all and (max-width: 280px) {
	.screenshot-slider:after {
		margin-left: -118px;
		width: 226px;
	}
	.subscribe-area.shape-1:before {
		display: none;
	}
}