@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
    ## Global
    ## Mixins
    ## Theme
    ## Variables
    ## Common

# Sections
    ## Nav Bar
    ## Banner
    ## Brand Area
    ## Footer
    ## Widgets

# Elements
    ## accordion
    ## filter
    ## apartment
    ## blog
    ## city
    ## feature
    ## gallery
    ## intro
    ## main-search
    ## pricing
    ## service
    ## team
    ## user-list

--------------------------------------------------------------*/
/*-----------------
    # Typography
-----------------*/
:root {
  --main-color: #8E6DFD;
  --heading-color: #ef2f31;
  --paragraph-color: #000000;
  --heading-font: myFirstFontBold;
  --body-font: "Roboto", sans-serif;
  --body-font-size: 16px;
  --line-height30: 1.7;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: var(--body-font);
}

* {
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  -webkit-font-smoothing: antialiased;
  /* WebKit  */
}

body {
  margin: 0;
  color: var(--paragraph-color);
  font-family: var(--body-font);
  line-height: var(--line-height30);
  font-size: var(--body-font-size);
  background: #F0F5FB;
}

h1 {
  font-size: 58px;
  line-height: 1.2333333333;
}

h2 {
  font-size: 38px;
  line-height: 1.3380952381;
}

h3 {
  font-size: 30px;
  line-height: 1.3833333333;
}

h4 {
  font-size: 24px;
  line-height: 1.3380952381;
}

h5 {
  font-size: 20px;
  line-height: 1.3380952381;
}

h6 {
  font-size: 18px;
  line-height: 1.2380952381;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-weight: 700;
}

p {
  color: var(--paragraph-color);
  -webkit-hyphens: auto;
  hyphens: auto;
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:hover {
  color: var(--main-color-one);
}

pre {
  word-break: break-word;
}

a i {
  padding: 0 2px;
}

img {
  max-width: 100%;
}

ol {
  counter-reset: counter;
  padding-left: 0;
}

ol li {
  list-style: none;
  margin-bottom: 1rem;
}

ol li:before {
  counter-increment: counter;
  content: counter(counter);
  font-weight: 500;
  margin-right: 10px;
}

button:hover,
button:active,
button:focus {
  outline: 0;
}

/*input and button type focus outline disable*/
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
select:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.no-gutter > [class^=col-] {
  padding-left: 0;
  padding-right: 0;
}

.no-gutter[class^=col-] {
  padding-left: 0;
  padding-right: 0;
}

.h-100vh {
  height: 100vh;
}

code {
  color: #faa603;
}

.check-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.check-list li {
  display: block;
  padding-left: 20px;
  position: relative;
  z-index: 0;
}
.check-list li:after {
  position: absolute;
  left: 0;
  top: 0;
  font-family: "fontawesome";
  content: "";
  color: var(--main-color);
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  clear: both;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.comment-navigation .nav-previous > a,
.posts-navigation .nav-previous > a,
.post-navigation .nav-previous > a,
.comment-navigation .nav-next > a,
.posts-navigation .nav-next > a,
.post-navigation .nav-next > a {
  transition: 0.3s ease-in;
}

.comment-navigation .nav-previous:hover > a,
.posts-navigation .nav-previous:hover > a,
.post-navigation .nav-previous:hover > a,
.comment-navigation .nav-next:hover > a,
.posts-navigation .nav-next:hover > a,
.post-navigation .nav-next:hover > a {
  color: var(--main-color);
}

.comment-list li {
  list-style: none;
}

.h-100vh {
  height: 100vh;
}

.position-relative {
  position: relative;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 15px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  float: left;
  clear: both;
  margin-right: 20px;
}

.alignright {
  float: right;
  clear: both;
  margin-left: 20px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}

.alignfull {
  margin: 1.5em 0;
  max-width: 100%;
}

.alignwide {
  max-width: 1100px;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.updated:not(.published) {
  display: none;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
  clear: both;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*----------------------------------------
    # Unit test
------------------------------------------*/
.wp-link-pages a {
  margin: 0 5px;
  transition: 0.3s ease-in;
}

.wp-link-pages {
  margin-bottom: 30px;
  margin-top: 25px;
}

.wp-link-pages span,
.wp-link-pages a {
  border: 1px solid #e2e2e2;
  padding: 5px 15px;
  display: inline-block;
}

.wp-link-pages .current,
.wp-link-pages a:hover {
  background-color: var(--main-color);
  color: #fff;
  border-color: var(--main-color);
}

.wp-link-pages span:first-child {
  margin-right: 5px;
}

dl,
ol,
ul {
  padding-left: 15px;
}

.post-password-form input {
  display: block;
  border: 1px solid #e2e2e2;
  height: 50px;
  border-radius: 3px;
  padding: 0 20px;
}

.post-password-form label {
  font-weight: 600;
  color: #333;
}

.post-password-form input[type=submit] {
  width: 100px;
  height: 50px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.post-password-form input[type=submit]:hover {
  background-color: #121A2F;
}

.footer-widget .table td,
.footer-widget .table th {
  padding: 0.5rem !important;
}

.bg-image {
  background-repeat: no-repeat !important;
  background-position: top center !important;
  background-size: 115% !important;
}

.bg-image-2 {
  background-repeat: no-repeat !important;
  background-position: 0px 570px !important;
  background-size: 134% !important;
}

.bg-image-3 {
  background-repeat: no-repeat !important;
  background-position: top center !important;
  background-size: 125% 100% !important;
}

/*---------------------------------------
    ## Button
---------------------------------------*/
.btn {
  height: 58px;
  line-height: 58px;
  padding: 0 32px;
  overflow: hidden;
  position: relative;
  border: 0;
  transition: all 0.5s ease;
  font-weight: 500;
  font-size: 18px;
  font-family: var(--body-font);
  border-radius: 0;
  color: #fff;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
}
.btn:focus, .btn:active {
  outline: 0;
  color: #fff;
  box-shadow: none;
}
.btn i {
  margin-right: 7px;
}

.btn-base {
  background: var(--main-color);
}
.btn-base:hover {
  color: #ffffff;
  background: rgba(142, 109, 253, 0.7);
}

.btn-blue {
  background: #1C8EF4;
  color: #ffffff;
}
.btn-blue:hover {
  background: #ED472F;
  color: #ffffff;
}

.btn-orange {
  background: #ED472F;
  color: #ffffff;
}
.btn-orange:hover {
  background: #1C8EF4;
  color: #ffffff;
}

.btn-app {
  background: #000;
  border-radius: 50px;
}
.btn-app:hover {
  background: var(--main-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.btn-gradient {
  background: linear-gradient(to top, #8E6DFD, #5793F0);
  box-shadow: 3px 5px 10px rgba(142, 109, 253, 0.5);
  color: #ffffff;
}
.btn-gradient:hover {
  background: linear-gradient(to bottom, #8E6DFD, #5793F0);
  color: #ffffff;
}

.btn-white {
  background: #ffffff;
  color: #292929;
  font-weight: 400;
}
.btn-white:hover {
  background: var(--main-color);
  color: #ffffff;
}

a:hover {
  color: var(--main-color);
}

.star-rating {
  color: #292929;
  font-size: 16px;
}
.star-rating span {
  margin-right: 2px;
}
.star-rating span i {
  font-size: 14px;
  color: #FFB71B;
}

/**slick-slider**/
.slick-carousel .slick-slide {
  margin: 0 15px;
}
.slick-carousel .slick-list {
  margin: 0px -15px 0px -15px;
}

.pl-list-inner {
  padding: 0;
  margin: 0;
  list-style: none;
}
.pl-list-inner.style-1 li i {
  color: #1C8EF4;
}
.pl-list-inner.style-2 li i {
  color: #FC4639;
}
.pl-list-inner li {
  margin-bottom: 12px;
  display: flex;
}
.pl-list-inner li i {
  margin-right: 11px;
}

/*----------------------------------------
  ## Search Popup
----------------------------------------*/
.search-popup.active .search-form {
  visibility: visible;
  opacity: 1;
}

.search-popup .search-form {
  min-width: 600px;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
  z-index: 999;
}

.search-popup .search-form .form-group .form-control {
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 54px;
  line-height: 54px;
  padding: 0 100px 0 30px;
  font-size: 18px;
}

.search-popup .search-form .submit-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 54px;
  border: 0;
  border-radius: 0 5px 5px 0;
  background: #292929;
  color: #fff;
  transition: all 0.4s ease-in;
  padding: 0;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
.search-popup .search-form .submit-btn:hover {
  background: var(--main-color);
}

.body-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #002E5B;
  z-index: 991;
  content: "";
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
}

.body-overlay.active {
  visibility: visible;
  opacity: 0.9;
}

/*------------------------------------------------
    ## Single-input-wrap
------------------------------------------------*/
.single-input-wrap {
  border-radius: 0px;
  margin-bottom: 22px;
  position: relative;
  align-items: center;
}
.single-input-wrap label {
  color: #636363;
  margin-bottom: 1px;
}
.single-input-wrap input {
  border-radius: 0px;
  background: #FAFAFA;
  border: 1px solid #FAFAFA;
  font-size: 16px;
  color: rgba(82, 82, 82, 0.8);
  height: 45px;
  line-height: 45px;
  width: 100%;
  padding: 0 20px;
  transition: all 0.4s ease-in;
}
.single-input-wrap input::placeholder {
  font-size: 16px;
  color: rgba(82, 82, 82, 0.8);
  line-height: 45px;
}
.single-input-wrap input:hover, .single-input-wrap input:active, .single-input-wrap input:focus {
  box-shadow: none;
  outline: 0;
  border: 1px solid var(--main-color);
}
.single-input-wrap textarea {
  width: 100%;
  padding: 13px 20px;
  font-size: 16px;
  background: #FAFAFA;
  border: 1px solid #FAFAFA;
  color: var(--paragraph-color);
  border-radius: 0px;
  transition: all 0.4s ease-in;
}
.single-input-wrap textarea::placeholder {
  color: var(--paragraph-color);
  font-size: 16px;
}
.single-input-wrap textarea:hover, .single-input-wrap textarea:active, .single-input-wrap textarea:focus {
  box-shadow: none;
  outline: 0;
  border: 1px solid var(--main-color);
}

/*------------------------------------------------
    ## Section title
------------------------------------------------*/
.section-title {
  margin-bottom: 48px;
  position: relative;
}
.section-title.style-white p,
.section-title.style-white .title {
  color: #fff;
}
.section-title .title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 13px;
}
.section-title p {
  font-size: 18px;
  margin-bottom: 0;
}

/*------------------------------------------------
    ## Back Top
------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 80px;
  width: 41px;
  height: 41px;
  color: #fff;
  background: rgb(232 45 71 / 90%);
  text-align: center;
  line-height: 41px;
  z-index: 99;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: none;
  animation: backto-top-bounce 4s infinite ease-in-out;
  border-radius: 50%;
}
@keyframes backto-top-bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes rollInRight {
  0% {
    opacity: 0;
    transform: translateX(100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
.rollInRight {
  animation-name: rollInRight;
}

.pagination {
  display: inline-flex;
  margin: 20px 0 0 0;
}
.pagination .page-item {
  margin-right: 20px;
}
.pagination .page-item.active a {
  background: var(--heading-color);
  border: 0;
  color: #ffffff;
}
.pagination .page-item:last-child {
  margin-right: 0;
}
.pagination .page-item .page-link {
  background: #F3F3F5;
  width: 45px;
  height: 45px;
  padding: 0;
  text-align: center;
  border: 0;
  line-height: 45px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 400;
  color: var(--heading-color);
}
.pagination .page-item .page-link.next {
  width: auto;
  padding: 0 28px;
}
.pagination .page-item .page-link.next i {
  font-weight: 400;
}
.pagination .page-item .page-link:hover {
  background: var(--heading-color);
  color: #ffffff;
}
.pagination .page-item .page-link:active, .pagination .page-item .page-link:focus {
  outline: 0;
  box-shadow: none;
  color: #ffffff;
  background: var(--main-color) !important;
}

/*-----------------------------------------
    ## Preloader Css
-------------------------------------------*/
/***Pre loader***/
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.97);
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin-left: -25px;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}

.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.loaded .loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.loader:before, .loader:after {
  content: "";
  border: 3px solid var(--main-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
}

.loader:before {
  transform: scale(1, 1);
  opacity: 1;
  animation: spWaveBe 0.6s infinite linear;
}

.loader:after {
  transform: scale(0, 0);
  opacity: 0;
  animation: spWaveAf 0.6s infinite linear;
}

@keyframes spWaveAf {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes spWaveBe {
  from {
    transform: scale(1, 1);
    opacity: 1;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}
/*-----------------------------------------
    ## Magnific-popup style
------------------------------------------*/
.mfp-zoom-in .mfp-content {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: scale(0.7);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.mfp-zoom-in.mfp-ready .mfp-content {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.7;
}

.mfp-zoom-in.mfp-removing .mfp-content {
  transform: scale(0.7);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/*-----------------------------------------
    ## Breadcumb 
------------------------------------------*/
.breadcrumb-area {
  padding: 239px 0 150px;
  margin-bottom: 110px;
  background: linear-gradient(150deg, #471348, #471348, #2B196A, #2B196A, #924FCD);
}
.breadcrumb-area .page-title {
  font-size: 58px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
.breadcrumb-area .page-list {
  margin: 0;
  padding: 0;
}
.breadcrumb-area .page-list li {
  font-size: 18px;
  font-weight: 400;
  list-style: none;
  color: #fff;
  display: inline-block;
  position: relative;
  padding-left: 3px;
  letter-spacing: 2px;
}
.breadcrumb-area .page-list li a {
  margin-right: 5px;
}
.breadcrumb-area .page-list li a:hover {
  color: #ED472F;
}
.breadcrumb-area .page-list li:first-child {
  padding-left: 0;
}
.breadcrumb-area .page-list li:first-child:after {
  display: none;
}

/*------------------------------------------------
    ## social area
------------------------------------------------*/
.social-area {
  padding: 0;
  margin: 0;
}
.social-area li {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}
.social-area li a {
  color: #BEBEBE;
  transition: 0.4s;
  border: 1px solid #E8E8E8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  background: transparent;
  display: inline-block;
  text-align: center;
  line-height: 42px;
}
.social-area li a:hover {
  background: var(--heading-color);
  color: #ffffff;
}
.social-area li:last-child {
  margin-right: 0 !important;
}

/*--------------------------------------------------------------
# Globals
--------------------------------------------------------------*/
.border-none {
  border: 0 !important;
}

.bg-main {
  background: var(--main-color);
}

.pd-top-100 {
  padding-top: 100px;
}

.pd-top-110 {
  padding-top: 110px;
}

.pd-top-120 {
  padding-top: 120px;
}

.pd-top-135 {
  padding-top: 135px;
}

.pd-top-140 {
  padding-top: 140px;
}

.pd-top-145 {
  padding-top: 145px;
}

.pd-top-150 {
  padding-top: 150px;
}

.pd-bottom-100 {
  padding-bottom: 100px;
}

.pd-bottom-110 {
  padding-bottom: 110px;
}

.pd-bottom-120 {
  padding-bottom: 120px;
}

.pd-bottom-140 {
  padding-bottom: 140px;
}

.pd-bottom-143 {
  padding-bottom: 143px;
}

.pd-bottom-150 {
  padding-bottom: 150px;
}

.mbx-bottom-155 {
  margin-bottom: -155px;
}

.mt-ng-105 {
  margin-top: -105px;
}

/**widget**/
.widget-title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -1px;
  color: var(--heading-color);
  margin-bottom: 12px;
  position: relative;
}
.widget-title:before {
  content: "";
  position: absolute;
  height: 35px;
  width: 7px;
  border-radius: 4px;
  background: var(--heading-color);
  top: -3px;
  left: -28px;
}

.widget p {
  margin: 17px 0 9px;
}

.widget-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
.widget-list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
}
.widget-list li img {
  margin-right: 20px;
}
.widget-list li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  transition: all 0.3s ease-in-out;
}
.widget-list li a:hover {
  color: red;
}
.widget-list.widget-list-black li {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  color: red;
}
.widget-list.widget-list-black li a {
  color: red;
}
.widget-list.widget-list-black li a:hover {
  color: red;
}

.widget-search .form-inline {
  position: relative;
}
.widget-search .form-inline input {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--heading-font);
  line-height: 27px;
  border: 1px solid #8E6DFD;
  background: transparent;
  padding: 0px 48px 0px 17px;
  border-radius: 0;
  height: 50px;
  color: var(--heading-color);
  width: 100%;
  position: relative;
}
.widget-search .form-inline input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: var(--heading-color);
}
.widget-search .form-inline input:hover, .widget-search .form-inline input:active, .widget-search .form-inline input:focus {
  box-shadow: none;
  outline: 0;
}
.widget-search .form-inline button {
  position: absolute;
  right: 0px;
  top: 0;
  background: transparent;
  border: 0;
  color: var(--heading-color);
  cursor: pointer;
  height: 50px;
  padding: 0 19px;
}
.widget-search .form-inline button:hover, .widget-search .form-inline button:active, .widget-search .form-inline button:focus {
  box-shadow: none;
  outline: 0;
}

.widget-category {
  padding: 53px 0 0 30px;
}
.widget-category .widget-title {
  margin-bottom: 18px;
}
.widget-category .widget-list li a {
  line-height: 44px;
}
.widget-category .widget-list li a span {
  margin-left: 8px;
}

.widget-trending-post {
  padding: 25px 0 0 30px;
}
.widget-trending-post .widget-title {
  margin-bottom: 25px;
}
.widget-trending-post .widget-media {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.widget-trending-post .widget-media .thumb {
  margin-right: 20px;
}
.widget-trending-post .widget-media .thumb img {
  width: 85px;
}
.widget-trending-post .widget-media h3 {
  margin-bottom: 1px;
  line-height: 0;
}
.widget-trending-post .widget-media .media-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--heading-color);
  transition: all 0.3s ease-in-out;
}
.widget-trending-post .widget-media .media-title:hover {
  color: var(--main-color);
}
.widget-trending-post .widget-media .date {
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
  color: var(--heading-color);
}

.widget-social-icon {
  padding: 32px 0 0 30px;
}
.widget-social-icon .widget-list-black li {
  margin-right: 19px;
}
.widget-social-icon .widget-list-black li a {
  color: #cecece;
  font-size: 18px;
}
.widget-social-icon .widget-list-black li a:hover {
  color: red;
}

/**Widget area Responsive**/
@media (max-width: 991px) {
  .widget-social, .widget-address {
    margin: 30px 0 0;
  }
}
@media (max-width: 767px) {
  .widget-social, .widget-address {
    text-align: center;
  }
}
/*----------------------------------------------
    # Nav bar 
----------------------------------------------*/
.navbar-area {
  padding: 0;
  top: 0px;
  position: fixed;
  z-index: 98;
  width: 100% !important;
  transition: all 0.4s;
}
.navbar-area.style-2.navbar-area-fixed {
  background: rgba(202, 128, 194, 0.8);
}
.navbar-area.style-2 .nav-container .navbar-collapse .navbar-nav li a {
  color: #fff;
}
.navbar-area.style-2 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after,
.navbar-area.style-2 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
  background: #fff;
}
.navbar-area.style-3 .nav-container .navbar-collapse .navbar-nav li a {
  color: #1F2873;
  font-family: var(--heading-font);
  font-weight: 700;
}
.navbar-area.style-3 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after,
.navbar-area.style-3 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
  background: #1F2873;
}
.navbar-area.style-4.navbar-area-fixed {
  background: #fff;
}
.navbar-area.style-4 .nav-container {
  background: #fff;
  padding: 25px 30px 24px;
  transition: all 0.4s ease-in;
}
.navbar-area.style-4 .nav-container .navbar-collapse .navbar-nav li a {
  color: #1F2873;
}
.navbar-area.style-4 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after,
.navbar-area.style-4 .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
  background: #1F2873;
}
.navbar-area .navbar {
  padding: 0;
}
.navbar-area .nav-container {
  background-color: transparent;
  padding: 19px 12px 18px;
  transition: all 0.4s;
  height: 80px;
}
.navbar-area .nav-container .logo a {
  display: inline-block;
  z-index: 9;
  margin-top: -3px;
}
.navbar-area .nav-container .logo a img {
  height: auto;
}
.navbar-area .nav-container .logo .sticky-logo {
  display: none;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav {
  display: block;
  width: 100%;
  text-align: right;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li {
  display: inline-block;
  font-weight: 400;
  line-height: 50px;
  text-transform: capitalize;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li a {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li:hover a {
  color: #ED472F;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li + li {
  margin-left: 20px;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children {
  position: relative;
  z-index: 0;
  padding-right: 14px;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
  content: "";
  position: absolute;
  right: 3px;
  top: 50%;
  height: 10px;
  width: 2px;
  background: #fff;
  transform: translateY(-50%);
  transition: all 0.3s ease-in;
  margin-top: -1px;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after {
  content: "";
  position: absolute;
  right: -1px;
  top: 25px;
  height: 2px;
  width: 10px;
  background: #fff;
  transform: translateY(-50%);
  transition: all 0.3s ease-in;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover {
  transition: all 0.4s ease;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover:before {
  opacity: 0;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover:after {
  background: #ED472F;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
  position: absolute;
  text-align: left;
  min-width: 210px;
  margin: 0;
  padding: 0;
  list-style: none;
  left: 0;
  top: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  z-index: 9;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  border-radius: 0;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu.border-bt0 {
  border-bottom: 0px !important;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li {
  display: block;
  margin-left: 0;
  line-height: 22px;
  font-size: 15px;
  transition: all 0.4s ease;
  border-bottom: 1px solid #f5f5f5;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a {
  display: block;
  padding: 10px 20px;
  white-space: nowrap;
  transition: all 0.3s;
  color: #050a30;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.4s ease;
  position: relative;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li a:before {
  position: absolute;
  left: 17px;
  top: 50%;
  content: "";
  font-family: "fontawesome";
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  color: #fff;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:hover {
  background: var(--main-color);
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:hover a {
  color: #fff;
  padding: 10px 20px 10px 30px;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:hover a:before {
  visibility: visible;
  opacity: 1;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li:last-child {
  border-bottom: 0;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children {
  position: relative;
  z-index: 0;
  padding-right: 0px;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:before {
  position: absolute;
  right: 15px;
  top: 50%;
  content: "";
  font-family: "fontawesome";
  /* IE 9 */
  /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children > .sub-menu {
  left: 100%;
  top: 20px;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children > .sub-menu .sub-menu .sub-menu {
  left: auto;
  right: 100%;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}
.navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .menu-item-has-children:hover > .sub-menu li:hover:before {
  color: #fff;
}
.navbar-area-fixed {
  box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.1);
  top: 0;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(240, 245, 251, 0.9);
}
.navbar-area-fixed .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:after,
.navbar-area-fixed .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
  background: #1F2873;
}
.navbar-area-fixed .nav-container .navbar-collapse .navbar-nav li a {
  color: #1F2873;
}

/********** navbar right part **********/
.nav-right-part {
  position: relative;
}
.nav-right-part ul {
  margin: 0;
  padding: 0;
}
.nav-right-part ul li {
  list-style: none;
  display: inline-flex;
  line-height: 45px;
}
.nav-right-part ul li:first-child a {
  margin-left: 0;
}
.nav-right-part ul li .search {
  font-size: 13px;
  color: #000000;
}
.nav-right-part ul li a {
  margin-left: 13px;
}
.nav-right-part .btn {
  margin-left: 23px;
}

.navbar-nav {
  opacity: 0;
  margin-right: -30px;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}

.menu-open {
  opacity: 1;
  margin-right: 0;
  visibility: visible;
}

.bar1 {
  width: 32px;
  height: 2px;
  margin-bottom: 5px;
  position: absolute;
  background: var(--main-color);
  z-index: 9999;
  top: 10px;
  right: -5px;
}

.bar2 {
  width: 24px;
  height: 2px;
  margin-bottom: 5px;
  position: absolute;
  background: var(--main-color);
  z-index: 9999;
  top: 17px;
  right: -5px;
}

.bar3 {
  width: 18px;
  height: 2px;
  margin-bottom: 5px;
  position: absolute;
  background: var(--main-color);
  z-index: 9999;
  top: 24px;
  right: -5px;
}

.responsive-mobile-menu button:focus {
  outline: none;
  border: none;
}

.responsive-mobile-menu {
  left: auto;
  top: 20px;
  right: 0;
  position: absolute;
  transition: 0.4s;
}

.navbar-area.navbar-area-fixed .responsive-mobile-menu {
  top: 14px;
}

.toggle-btn {
  width: 40px;
  height: 40px;
  transition-duration: 0.5s;
  border: 0;
  background: transparent;
}
.toggle-btn .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 11px;
  top: 18px;
  background-color: var(--main-color);
  left: 7px;
}
.toggle-btn .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 11px;
  height: 2px;
  background-color: var(--main-color);
  content: "";
  top: -7px;
  left: 0;
}
.toggle-btn .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 11px;
  height: 2px;
  background-color: var(--main-color);
  content: "";
  top: 7px;
  left: 0;
}
.toggle-btn .icon-left:hover {
  cursor: pointer;
}
.toggle-btn .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 11px;
  top: 18px;
  background-color: var(--main-color);
  left: 18px;
}
.toggle-btn .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 11px;
  height: 2px;
  background-color: var(--main-color);
  content: "";
  top: -7px;
  left: 0;
}
.toggle-btn .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 11px;
  height: 2px;
  background-color: var(--main-color);
  content: "";
  top: 7px;
  left: 0;
}
.toggle-btn .icon-right:hover {
  cursor: pointer;
}
.toggle-btn.open .icon-left {
  transition-duration: 0.5s;
  background: transparent !important;
}
.toggle-btn.open .icon-left:before {
  transform: rotateZ(45deg) scaleX(1.4) translate(2px, 1px);
}
.toggle-btn.open .icon-left:after {
  transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -1px);
}
.toggle-btn.open .icon-right {
  transition-duration: 0.5s;
  background: transparent !important;
}
.toggle-btn.open .icon-right:before {
  transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 1px);
}
.toggle-btn.open .icon-right:after {
  transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -1px);
}
.toggle-btn:hover {
  cursor: pointer;
}

.nav-right-part-mobile {
  display: none;
}

.sopen {
  display: block !important;
}

@media all and (max-width: 991px) {
  .nav-right-part {
    margin-right: 50px;
  }
  .nav-right-part .btn {
    height: 42px;
    line-height: 43px;
  }

  .nav-right-part .btn .right {
    padding-left: 5px;
    font-size: 13px;
  }

  .nav-right-part-mobile {
    display: block;
  }

  .nav-right-part-desktop {
    display: none;
  }

  .navbar-area .nav-container {
    position: relative;
    z-index: 0;
  }
  .navbar-area .nav-container .navbar-toggler {
    padding: 0px;
  }
  .navbar-area .nav-container .navbar-collapse {
    margin-top: 13px;
    padding-right: 0;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav {
    display: block;
    margin-top: 20px;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li {
    display: block;
    text-align: left;
    line-height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li a {
    display: block;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li:last-child {
    border-bottom: none;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li + li {
    margin-left: 0;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children:before {
    top: 25px;
    right: 0px !important;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu {
    position: initial;
    display: block;
    width: 100%;
    border-top: none;
    box-shadow: none;
    margin-left: 0;
    padding-bottom: 0;
    height: auto;
    overflow: hidden;
    max-height: 250px;
    overflow-y: scroll;
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    border-bottom: none;
    display: none;
    transition: none;
    visibility: visible;
    opacity: 1;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu .sub-menu .menu-item-has-children:before {
    content: "";
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li {
    padding: 0;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li.menu-item-has-children:hover:before {
    top: 30px;
    color: #fff;
  }
  .navbar-area .nav-container .navbar-collapse .navbar-nav li.menu-item-has-children .sub-menu li + li {
    border-top: none;
  }
}
@media all and (max-width: 575px) {
  .navbar-area .nav-container .logo a img {
    width: 125px;
  }

  .nav-right-part {
    margin-right: 30px;
    right: 0;
  }
  .nav-right-part .btn {
    font-size: 14px;
    padding: 0 14px;
  }

  .navbar-area .nav-container {
    padding: 12px;
  }

  .responsive-mobile-menu {
    right: 0;
  }

  .responsive-mobile-menu {
    top: 14px;
  }
}
/*----------------------------------------------
    ## Banner Style
----------------------------------------------*/
.banner-area {
  position: relative;
  padding: 188px 0 139px;
  background-position: 0px -212px !important;
  background-size: 135% !important;
  background-repeat: no-repeat !important;
}
.banner-area img {
  animation: 1.5s 1.2s fadeInRight both;
}

.banner-inner.style-white p,
.banner-inner.style-white h1 {
  color: #fff;
}
.banner-inner h1 {
  font-weight: 700;
  margin-bottom: 28px;
  animation: 1.5s 0.9s fadeInLeft both;
}
.banner-inner h6 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  animation: 1.5s 1.2s fadeInLeft both;
}
.banner-inner p {
  margin-bottom: 50px;
  animation: 1.5s 1.2s fadeInLeft both;
}
.banner-inner .btn {
  margin-right: 27px;
  animation: 1.5s 1.2s fadeInLeft both;
  height: 55px;
  line-height: 55px;
  padding: 0 13px;
  border-radius: 4px;
}
.banner-inner .btn.active {
  background: var(--main-color);
}
.banner-inner .btn img {
  margin: 0;
}

.banner-area-2 {
  padding: 131px 0;
}
.banner-area-2 .thumb {
  position: relative;
}
.banner-area-2 .thumb img {
  position: absolute;
  right: -100px;
  top: 0;
  animation: 1.5s 1.2s fadeInRight both;
}
.banner-area-2 .banner-inner {
  padding: 115px 0 0;
}
.banner-area-2 .banner-inner .btn {
  padding: 0 32px;
  box-shadow: 3px 5px 10px rgba(142, 109, 253, 0.5);
}
.banner-area-2 .banner-inner p {
  margin-bottom: 36px;
}
.banner-area-2 .banner-inner h6 {
  margin-bottom: 46px;
}

.banner-area-3 {
  position: relative;
  padding: 210px 0 139px;
  background-position: top center !important;
  background-size: 134% 103% !important;
  background-repeat: no-repeat !important;
}
.banner-area-3 img {
  animation: 1.5s 1.2s fadeInLeft both;
}

.banner-area.style-3 {
  padding: 210px 0 165px;
  background-position: -54px -267px !important;
  background-size: 129% !important;
}
.banner-area.style-3 .banner-inner {
  margin-left: -180px !important;
  margin-right: 50px;
}

.banner-area-4 {
  padding: 300px 0 250px;
  background-repeat: no-repeat !important;
  background-size: 113% 100% !important;
  background-position: center !important;
}

/**intro-area**/
.single-intro-wrap {
  background: rgba(240, 245, 251, 0.8);
  box-shadow: 5px 7px 27px rgba(0, 0, 0, 0.06);
  padding: 50px 0 32px;
  border-radius: 12px;
  margin-bottom: 30px;
  transition: all 0.4s ease-in;
}
.single-intro-wrap .thumb img {
  margin-bottom: 23px;
}
.single-intro-wrap:hover {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.single-intro-wrap.style-2 {
  background: #F0F5FB;
}
.single-intro-wrap.style-2:hover {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.single-intro-wrap-2 {
  background: rgba(44, 49, 87, 0.8);
  box-shadow: 5px 7px 20px rgba(0, 0, 0, 0.1);
  padding: 50px 30px 35px;
  border-radius: 12px;
  transition: all 0.4s ease-in;
  margin-bottom: 30px;
}
.single-intro-wrap-2:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.single-intro-wrap-2 .thumb img {
  margin-bottom: 13px;
}
.single-intro-wrap-2 h4 {
  color: #fff;
  font-weight: 600;
}

/**featured-area**/
.featured-area .section-title {
  margin-bottom: 29px;
  margin-top: -11px;
}

.single-featured-wrap {
  margin-bottom: 24px;
}
.single-featured-wrap .thumb {
  margin-bottom: -5px;
}
.single-featured-wrap .featured-wrap-details h4 {
  margin-bottom: 15px;
}

/**fact-area**/
.fact-count-area {
  margin-bottom: -160px;
}

.fact-inner {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  background-image: linear-gradient(-45deg, #F9455C, #F35E49);
  padding: 105px 0;
}

.single-fact-inner h2 {
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 7px;
}
.single-fact-inner h4 {
  font-weight: 600;
  color: #fff;
}

/**screenshot-area**/
.screenshot-area {
  background: url(../img/screenshot/bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 264px;
  padding-bottom: 269px;
}
.screenshot-area .section-title .title,
.screenshot-area .section-title p {
  color: #fff;
}

.screenshot-slider {
  position: relative;
  z-index: 1;
  margin-top: 43px;
}
.screenshot-slider .screenshot-thumb img {
  width: 230px;
  height: 480px;
  border-radius: 20px;
  margin: 0 auto;
}
.screenshot-slider:after {
  content: "";
  position: absolute;
  height: 94%;
  width: 251px;
  transition: all 0.4s ease-in;
  top: -20px;
  left: 52%;
  margin-left: -151px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
}
.screenshot-slider .slick-current, .tutorial-slider .slick-current {
  position: relative;
  transition: all 0.4s ease-in;
}
.screenshot-slider .slick-current .screenshot-thumb, .tutorial-slider .slick-current .screenshot-thumb {
  transition: all 0.4s ease-in;
}
.screenshot-slider .slick-dots, .tutorial-slider .slick-dots {
  display: flex;
  margin: 50px 0 0 0;
  padding: 0;
  justify-content: center;
  list-style: none;
}
.screenshot-slider .slick-dots li, .tutorial-slider .slick-dots li {
  padding: 0;
  margin: 0 7.5px;
  background: var(--main-color);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transition: all 0.4s ease-in;
  position: relative;
  cursor: pointer;
}
.screenshot-slider .slick-dots li:after, .tutorial-slider .slick-dots li:after {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  background: #fff;
  left: 3px;
  top: 3px;
  border-radius: 50%;
  transition: all 0.4s ease-in;
  opacity: 0;
}
.screenshot-slider .slick-dots li.slick-active:after, .tutorial-slider .slick-dots li.slick-active:after {
  opacity: 1;
}
.screenshot-slider .slick-dots li button, .tutorial-slider .slick-dots li button {
  display: none;
}

/**video-area**/
.video-area {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.video-inner {
  position: relative;
}
.video-inner .play-btn {
  height: 74px;
  width: 74px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  border-radius: 50%;
  line-height: 74px;
  margin-top: -37px;
  margin-left: -37px;
  z-index: 0;
}
.video-inner .play-btn img {
  margin-left: 7px;
}

/**pricing-area**/
.pricing-area {
  background: url(../img/shape/pricing-bg.png);
  background-position: top;
  background-position: -175px 0px;
  background-repeat: no-repeat;
  background-size: 115% 100%;
}

.single-price {
  background-image: linear-gradient(45deg, #E287A9, #9A71F0);
  margin: 0 12.5px 60px;
  padding: 33px 0px 0px;
  border-radius: 12px;
  transition: all 0.4s ease-in;
}
.single-price.style-1 {
  background-image: linear-gradient(45deg, #9A71F0, #E287A9);
}
.single-price.style-2 {
  background-image: linear-gradient(to bottom, #8592FF, #1F2873);
}
.single-price .pricing-title {
  color: #fff;
  font-weight: 500;
  margin-bottom: 23px;
}
.single-price .pricing-list {
  margin: 30px 25px 40px -25px;
  list-style: none;
  position: relative;
  background: #fff;
  border-radius: 8px 8px 8px 0;
  padding: 25px 26px 22px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.06);
}
.single-price .pricing-list:after {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(100% 100%, 0 0, 100% 0);
          clip-path: polygon(100% 100%, 0 0, 100% 0);
  height: 25px;
  width: 25px;
  background-image: linear-gradient(90deg, #D6D6D6, #FFFFFF);
  z-index: 1;
  left: 0;
  bottom: -25px;
}
.single-price .pricing-list li {
  margin-bottom: 11px;
}
.single-price .pricing-list li:last-child {
  margin-bottom: 0;
}
.single-price .pricing-list li a i {
  color: #FC4639;
}
.single-price .btn {
  margin-bottom: -29px;
}
.single-price .btn i {
  margin-right: 8px;
}

/********** single-testimonial-inner ********/
.testimonial-slider .slick-current .single-testimonial-inner {
  box-shadow: 5px 7px 27px rgba(0, 0, 0, 0.1);
}
.testimonial-slider .slick-dots {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
}
.testimonial-slider .slick-dots li {
  padding: 0;
  margin: 0 7.5px;
  background: rgba(0, 78, 146, 0.4);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.testimonial-slider .slick-dots li.slick-active {
  background: #004e92;
}
.testimonial-slider .slick-dots li button {
  padding: 0;
  border: 0;
  display: none;
}

.single-testimonial-inner {
  background: #fff;
  margin: 50px 0px 0 0px;
  margin-bottom: 50px;
  border: 1px solid #fff;
  padding: 0 20px 27px 20px;
  border-radius: 8px;
  position: relative;
  transition: all 0.4s ease-in;
}
.single-testimonial-inner img {
  display: inline-block;
  border-radius: 50%;
}
.single-testimonial-inner .thumb {
  display: inline-block;
  background-image: linear-gradient(to bottom, #D684B7, #9C72F0);
  border-radius: 50%;
  padding: 8px;
  height: 100px;
  width: 100px;
  transform: translateY(-50%);
}
.single-testimonial-inner .details {
  margin-top: -28px;
}
.single-testimonial-inner .details .quote-icon {
  margin-bottom: 7px;
}
.single-testimonial-inner .details img {
  margin-bottom: 20px;
}
.single-testimonial-inner .details .rating-inner {
  margin-bottom: 3px;
}
.single-testimonial-inner .details .rating-inner i {
  color: #ED472F;
}
.single-testimonial-inner .details h6 {
  margin-bottom: 0;
  font-weight: 500;
}
.single-testimonial-inner .details .date {
  font-weight: 500;
  font-size: 13px;
}

/**faq-area**/
.pl-faq-accordion .accordion-item {
  margin-bottom: 30px;
}
.pl-faq-accordion .accordion-item .accordion-header .accordion-button {
  font-size: 18px;
  font-family: var(--heading-font);
  font-weight: 500;
  color: #ED472F;
  background: #fff;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #8E6DFD;
  padding: 18px 60px 17px 25px;
  position: relative;
  box-shadow: none;
}
.pl-faq-accordion .accordion-item .accordion-header .accordion-button:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 18px;
  background: #ED472F;
  border-radius: 5px;
  right: 25px;
  transform: rotate(0deg);
}
.pl-faq-accordion .accordion-item .accordion-header .accordion-button:before {
  position: absolute;
  content: "";
  height: 5px;
  width: 18px;
  background: #ED472F;
  border-radius: 5px;
  right: 25px;
  transition: all 0.4s ease-in;
  transform: rotate(0deg);
}
.pl-faq-accordion .accordion-item .accordion-header .accordion-button.collapsed {
  border-bottom: 1px solid #fff;
  color: #1F2873;
}
.pl-faq-accordion .accordion-item .accordion-header .accordion-button.collapsed:before {
  transform: rotate(90deg);
}
.pl-faq-accordion .accordion-item .accordion-collapse {
  border: 0;
}
.pl-faq-accordion .accordion-item .accordion-collapse .accordion-body {
  font-size: 16px;
  color: #81849B;
  background: #fff;
  border: 0;
  padding: 18px 25px;
}

/********** single-product-inner **********/
.single-product-inner {
  padding: 30px 30px 19px 30px;
  background: #4A406D;
  border-radius: 12px;
  margin-bottom: 30px;
}
.single-product-inner .thumb {
  margin-bottom: 26px;
}
.single-product-inner .details .product-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  display: block;
  font-family: var(--heading-font);
  margin-bottom: 11px;
  line-height: 25px;
}
.single-product-inner .details .product-title:hover {
  color: #fff;
}
.single-product-inner .details .product-order {
  color: #FD9090;
  font-weight: 700;
}
.single-product-inner .details .product-order i {
  margin-right: 5px;
}
.single-product-inner .details .product-order:hover {
  color: #fff;
}
.single-product-inner .details .amount {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}

/**discount-area**/
.discount-slider {
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.07);
}
.discount-slider .slick-slide {
  margin: 0 15px;
}
.discount-slider .slick-list {
  margin: 0px -35px 0px -35px;
}
.discount-slider img {
  margin: 0 0 0 auto;
}
.discount-slider .slick-dots {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
  z-index: 1;
  position: absolute;
  left: 48%;
  bottom: 54px;
}
.discount-slider .slick-dots li {
  padding: 0;
  margin: 0 7.5px;
  background: rgba(255, 255, 255, 0.4);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  transition: all 0.4s ease-in;
}
.discount-slider .slick-dots li.slick-active {
  background: white;
}
.discount-slider .slick-dots li button {
  padding: 0;
  border: 0;
  display: none;
}

.discount-wrap {
  background-color: #4A406D;
  position: relative;
  padding: 50px 70px;
  border-radius: 12px;
}
.discount-wrap .tag {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  font-family: var(--body-font);
  letter-spacing: 5px;
  background: #292929;
  border-radius: 12px 0 0 0;
  padding: 8px 23px 8px 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.discount-wrap .left-side {
  position: relative;
}
.discount-wrap .left-side:after {
  content: "";
  position: absolute;
  height: 109px;
  width: 5px;
  background: #fff;
  right: 0;
  top: 0;
}
.discount-wrap .left-side h2 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}
.discount-wrap .left-side .product-order {
  color: #FD9090;
  font-weight: 500;
  font-size: 18px;
}
.discount-wrap .left-side .product-order i {
  margin-right: 7px;
}
.discount-wrap .right-side {
  text-align: center;
}
.discount-wrap .right-side span {
  font-size: 16px;
  background: #2C3157;
  color: #fff;
  text-transform: uppercase;
  padding: 4px 16px 3px;
}
.discount-wrap .right-side h3 {
  font-size: 60px;
  color: #fff;
  margin-bottom: -13px;
}
.discount-wrap .right-side h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.discount-wrap p {
  color: #ECECEC;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-top: 40px;
}

/**subscribe-area**/
.subscribe-area {
  position: relative;
}
.subscribe-area.shape-1:before {
  position: absolute;
  content: "";
  background: url(../img/other/shape.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 400px;
  top: -23%;
  left: -16%;
}

.single-subscribe-wrap {
  position: relative;
  padding: 10px;
  display: block;
  background: #fff;
  border-radius: 4px;
  box-shadow: 5px 7px 27px rgba(0, 0, 0, 0.06);
}

.single-subscribe-wrap .input {
  border: 0;
  border-radius: 4px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  padding: 20px;
  font-family: var(--body-font);
  background: #fff;
  position: relative;
}
.single-subscribe-wrap input::placeholder {
  color: #838383;
}
.single-subscribe-wrap input:focus, .single-subscribe-wrap input:active, .single-subscribe-wrap input:hover {
  border: 0;
}
.single-subscribe-wrap .btn {
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--body-font);
  background: #ED472F;
  padding: 0 30px;
  display: block;
  margin: 0 auto;
}
.single-subscribe-wrap .btn:focus, .single-subscribe-wrap .btn:active, .single-subscribe-wrap .btn:hover {
  box-shadow: 3px 5px 10px rgba(237, 71, 47, 0.2);
  border: 0;
  color: #fff;
}

/***Blog-post***/
.single-blog-wrap .thumb img {
  width: 100%;
}

.single-blog-post {
  padding: 33px 40px 32px 40px;
  margin-bottom: 50px;
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.single-blog-post .blog-meta {
  margin-top: 9px;
}
.single-blog-post .blog-meta span {
  font-weight: 700;
  color: var(--main-color);
  font-size: 14px;
  line-height: 16px;
  margin-right: 34px;
}
.single-blog-post .blog-meta span span {
  color: var(--main-color);
  margin-right: 0;
}
.single-blog-post p {
  margin: 17px 0 23px;
}
.single-blog-post .read-more-btn {
  color: var(--heading-color);
  font-weight: 600;
}
.single-blog-post .blockquote {
  background: url(../img/blog/blockquete.jpg);
  background-repeat: no-repeat;
  padding: 27px 50px 34px;
  margin: 54px 0;
  background-size: 100% 100%;
}
.single-blog-post .blockquote p {
  font-weight: 400;
  font-size: 16px;
}
.single-blog-post .blockquote footer {
  font-weight: 600;
  color: var(--heading-color);
  font-size: 18px;
  font-family: var(--heading-font);
  margin-top: 23px;
}

.single-blog-page .single-blog-post {
  background: transparent;
  box-shadow: none;
}

.blog-share {
  padding: 13px 23px 14px 17px;
  margin: 54px 0 94px;
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.blog-share .tag .common-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  height: 30px;
  color: #fff;
  padding: 0 12px;
  margin-right: 6px;
  background: var(--heading-color);
  border-radius: 30px;
  border: 2px solid var(--heading-color);
}
.blog-share .tag .common-btn:hover {
  color: var(--heading-color);
  background: transparent;
}
.blog-share .share {
  float: right;
}
.blog-share .share span {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: var(--heading-color);
  margin-right: 10px;
}
.blog-share .share ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.blog-share .share ul li {
  margin-right: 5px;
}
.blog-share .share ul li:last-child {
  margin-right: 0;
}
.blog-share .share ul li a {
  height: 30px;
  width: 30px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 33px;
  color: #676b71;
  background: #fff;
  display: inline-block;
  text-align: center;
}
.blog-share .share ul li a:hover {
  background: var(--main-color);
  color: #fff;
}
.blog-comment .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 19px;
}
.blog-comment .media {
  display: flex;
  border-radius: 3px;
  padding: 30px 49px 25px 30px;
  margin-bottom: 40px;
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.blog-comment .media.nesting {
  margin-left: 110px;
}
.blog-comment .media img {
  border-radius: 3px;
  height: -webkit-max-content;
  height: max-content;
}
.blog-comment .media .media-body {
  margin-left: 24px;
}
.blog-comment .media .media-body h5 {
  font-size: 18px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 0px;
}
.blog-comment .media .media-body .date {
  font-size: 14px;
  font-weight: 400;
  color: var(--main-color);
}
.blog-comment .media .media-body p {
  font-size: 16px;
  font-weight: 400;
  margin: 9px 0 11px;
}
.blog-comment .media .media-body a {
  font-size: 16px;
  font-weight: 600;
  color: var(--heading-color);
  transition: all 0.3s ease-in-out;
}
.blog-comment .media .media-body a:hover {
  color: red;
}

.blog-comment-form {
  margin-top: 95px;
}
.blog-comment-form .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 19px;
}
.blog-comment-form form .form-group {
  margin-bottom: 30px;
}
.blog-comment-form form .form-group .form-control {
  height: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--heading-color);
  padding: 19px;
  border: none;
  border-radius: 2px;
}
.blog-comment-form form .form-group .form-control:active, .blog-comment-form form .form-group .form-control:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  outline: 0;
}
.blog-comment-form form .form-group textarea {
  height: 150px !important;
  padding: 15px 0 0 20px !important;
}
.blog-comment-form form .common-btn {
  height: 45px;
  font-size: 12px;
  padding: 0 35px;
  color: #fff;
  background: var(--main-color);
  border: 2px solid var(--main-color);
  transition: all 0.4s ease-in;
}
.blog-comment-form form .common-btn:hover {
  background: transparent;
  color: var(--heading-color);
}

.blog-pagination {
  padding: 0px 0 100px;
  text-align: center;
}
.blog-pagination .pagination {
  margin: 0;
}
.blog-pagination .pagination .page-item {
  margin-right: 20px;
}
.blog-pagination .pagination .page-item a {
  height: 40px;
  width: 40px;
  background: rgba(173, 171, 244, 0.9);
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
.blog-pagination .pagination .page-item a:hover, .blog-pagination .pagination .page-item a:active, .blog-pagination .pagination .page-item a:focus {
  outline: 0;
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: var(--heading-color);
}
.blog-pagination .pagination .page-item.active a {
  background: #FFFFFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  color: var(--heading-color);
}

.contact-touch .title {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color);
  margin-bottom: 5px;
  position: relative;
  padding-left: 25px;
}
.contact-touch .title:before {
  content: "";
  position: absolute;
  height: 35px;
  width: 7px;
  border-radius: 4px;
  background: var(--heading-color);
  top: 2px;
  left: 0;
}
.contact-touch span {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: var(--heading-color);
  margin-bottom: 48px;
  display: inline-block;
  padding-left: 25px;
}

.contact-map .embed-responsive iframe {
  height: 400px !important;
}

@media (max-width: 1024px) {
  .single-blog-post .blog-meta span {
    margin-right: 20px;
  }

  .single-blog-post .blockquote {
    padding-top: 7px;
  }
  .single-blog-post .blockquote p {
    font-size: 13px;
  }

  .single-blog-post .blockquote footer {
    margin-top: 20px;
  }

  .blog-comment .media {
    padding-right: 35px;
  }
}
@media (max-width: 767px) {
  .blog-comment .media {
    padding-right: 20px;
  }

  .blog-comment .media .media-body p {
    font-size: 14px;
  }
}
/*--------------------------------------------------
    ##Footer
---------------------------------------------------*/
.footer-area {
  padding: 200px 0 0;
  background-size: 100% 101% !important;
}
.footer-area .footer-thumb {
  margin-bottom: 40px;
}
.footer-area .widget-footer-link {
  margin-bottom: 40px;
}

.footer-bottom {
  padding: 18px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.footer-bottom .copyright-area p {
  margin-bottom: 0;
  color: #fff;
  font-family: var(--heading-font);
  font-size: 14px;
}

.widget-footer-link ul {
  margin: 0;
  padding: 0;
}
.widget-footer-link ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 0 38px;
}
.widget-footer-link ul li:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  width: 1px;
  background: #fff;
}
.widget-footer-link ul li:last-child:after {
  display: none;
}
.widget-footer-link ul li a {
  color: #fff;
  font-size: 14px;
}

.widget-footer-social {
  padding-bottom: 80px;
}
.widget-footer-social ul {
  margin: 0;
  padding: 0;
}
.widget-footer-social ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
.widget-footer-social ul li:first-child {
  padding-left: 0;
}
.widget-footer-social ul li a {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: rgba(173, 171, 244, 0.4);
  display: inline-block;
  text-align: center;
  line-height: 38px;
  color: #fff;
}
.widget-footer-social ul li a:hover {
  background: #fff;
  color: #1F2873;
}

.single-subscribe-wrap tbody, td, tfoot, th, thead, tr {
  padding: 5px 10px;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}
.fb-page, .fb-page iframe[style], .fb-page span {
  width: 100% !important;
}